body {
  background-color: #121212;
  font-family: Arial, Helvetica, sans-serif;
  color: #f1f1f1;
  font-size: 15px;
}

.todo-grid, .todo-input-grid, .title {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
  vertical-align: middle;
}

.todo-input-grid {
  margin-bottom: 10px;
  align-items: stretch;
}

.name-input, .date-input {
  padding: 10px;
  font-size: 15px;
  background-color: #232323;
  border: none;
  border-radius: 5px;
  color: #f1f1f1;
  cursor: text;
}

.add-todo-button, .delete{
  background-color: green;
  border: none;
  cursor: pointer;
  color: #f1f1f1;
  border-radius: 5px;
}

.delete {
  background-color: darkred;
  padding: 10px;

}